<h1>My Code</h1>

<h3>JavaScript Code for Parsing</h3>
<p>
  // This is a javascript comment <br>
  for (let i = 0; i < 10; i++) { // $ This is a javascript comment for Mindbase <br>
  console.log(array[i]); // $ I would like to upload this to Mindbase <br>
  } // This is a comment I don't want to upload to Mindbase
</p>

<h4>My Notes</h4>
<ul>
  <% @notes.each do |note| %>
    <li><%= "#{note[:code_content]} #{@comment_char} #{note[:content]}" %></li>
  <% end %>
</ul>
