.code_content {
  // border: 1px solid grey;
  background-color: lightgray;
  font-family: SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
  font-size: 85%;
  padding: 20px 16px 20px 32px;
}

a {
  text-decoration: none;
}

.head_show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbar_show {
  width: 357px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 10px 7px lightgrey, 0 0 0 6px #ffffffeb;
  transform: scale(0.6);
  margin-right: -65px;

  button {
    border: none;
  }
}
