<div class= "h-100 d-flex flex-row justify-content-center align-items-start mb-30">
  <div class= "brand-container-lg">
    <div class = "logo-container-lg">
      <%= image_tag "Logo - Pajamas.png" %>
    </div>
    <div style= align-text-left>
      <h2 class="UI_Display_xl"> Mindbase </h2>
      <h3 class="UI_Display_04_base"> Code, Organized. </h3>
    </div>
  </div>
</div>
