   <div class = "imp-github mt-5 ml-5" data-show-github-target="github">
    <h3>Upload a project from Github</h3>
     <br>
    <% if user_signed_in? %>
      <div class="list-repos">
      <ul>
         <% @client.repos.each do |repo| %>
          <% if repo.name != "" %>
            <li><%= link_to repo.name, new_github_path(repo: repo.name) %> <li>
          <% end %>
        <% end %>
        </ul>
      </div>
     <% end %>
   </div>
