<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

    <pre>
      <code class="html">
        &lt;strong&gt; Hello World &lt;/strong&gt;
      </code>
    </pre>


    <p>here are some notes blah blah blah</p>
    <pre>
      <code class="javascript">
          document.addEventListener('DOMContentLoaded', (event) => {
          document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
          });
        });
      </code>
    </pre>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
