<h1>Github#new</h1>
<p>Find me in app/views/github/new.html.erb</p>

<%= @client.repositories.last.owner.login %> <br>
<%= @client.repositories.last.name %> <br>
<%= @client.repositories.last.language %> <br>
<%= @client.repositories.last.node_id %> <br>
