<%= video_tag "coding-laptop.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "background_video" %>
<div class="background_oval"></div>
<div id="hero-box">
  <div class="d-flex flex-column justify-content-left" >
    <%= render "devise/shared/big_brand" %>
    <%= render "devise/shared/links" %>
  </div>
</div>
<div class="grey_banner"></div>
