
<body class="blue_background" id= "sign_up" >
  <div class="d-flex align-items-center justify-content-center flex-column">
      <%= render "devise/shared/big_brand" %>

      <%= render "devise/shared/links" %>
      </div>
  </div>
</body>
