// ------ POP UP JS -------------------

*, *::after, *::before {
  box-sizing: border-box;
}

.popup {
  border: 1px solid black;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);

}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

// ------- STYLING PAGE --------

.popup h3 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.popup h4 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 16px;
}

.popup p {
  font-family: Inter, sans-serif;
  font-style: normal;
  color: grey;
  // margin-top: 10px;
  // margin-bottom: 0px;
  font-size: 12px;
}
