.navbar-mindbase {
  justify-content: space-between;
  background: #222261;

  input {
    color: #E1D8F9;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;

  }

  input::placeholder {
    color: #E1D8F9;
  }
}

.navbar-mindbase .navbar-collapse {
  flex-grow: 0;
}

.navbar-mindbase .navbar-brand img {
  width: 24px;
}

.navbar-brand {
  display: flex;
  align-items: center;

  h4 {
    margin-bottom: -4px;
    margin-left: 10px;
    font-family: Inter, sans-serif;
    color: white;
    font-weight: bold;

  }
}


.upload {
  display: flex;
  align-items: center;
  color: #E1D8F9;
  font-family: Inter, sans-serif;

}


.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
    color: #E1D8F9;
    font-weight: lighter;
    transition: opacity 0.3s ease;
  }

  // .nav-link:hover {
  //   opacity: 1;
  // }

  #navbarDropdown {
    border-radius: 50%;

  }



// .form-control {
//   display: none;
// }
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 8px 12px 8px 8px;

  width: 311px;
  height: 32px;

  background: rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  color: #E1D8F9;

  // flex: none;
  // order: 0;
  // align-self: stretch;
  // flex-grow: 0;

}

.avatar {
  // border: 1px solid white;
  // border-radius: 50%;
  color: #E1D8F9;
}

#user_letter {
  border: 1px solid white;
  border-radius: 50px;
}
