.navbar-mindbase {
  justify-content: space-between;
  background: #222261;
}

.navbar-mindbase .navbar-collapse {
  flex-grow: 0;
}

.navbar-mindbase .navbar-brand img {
  width: 24px;
}

.navbar-brand {
  display: flex;
  align-items: center;

  h4 {
    margin-bottom: -4px;
    margin-left: 10px;
    font-family: Inter, sans-serif;
    color: white;
    font-weight: bold;

  }
}


.upload {
  display: flex;
  align-items: center;
  color: #E1D8F9;
  font-family: Inter, sans-serif;

}


.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
    color: #E1D8F9;
    // border: 1px solid #4A4A4A;
    // padding: 8px 24px;
    // border-radius: 50px;
    font-weight: lighter;
    // opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .nav-link:hover {
    opacity: 1;
  }

  #navbarDropdown {
    border-radius: 50%;

  }

input {
  color: black;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;

}

// .form-control {
//   display: none;
// }
.searchbar {
  // position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 550px;
  padding: 12px;
  // margin: -83px auto 0 auto;
  background-color: lightgrey;
  border-radius: 20px;
  box-shadow: 0 10px 40px lightgray, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);

  button {
    border: none;
    background-color: lightgrey;
  }
}

input[type="text"] {
  width: 100%;
  // height: 96px;
  font-size: 24px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: grey;
}

.avatar {
  // border: 1px solid white;
  // border-radius: 50%;
  color: #E1D8F9;
}

#user_letter {
  border: 1px solid white;
  border-radius: 50px;
}
