.navbar-mindbase {
  justify-content: space-between;
  background: #222261;

  input {
    color: #E1D8F9;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    opacity: 0.7;

  }

  input::placeholder {
    color: #E1D8F9;
    opacity: 0.7;
  }
}

.navbar-mindbase .navbar-collapse {
  flex-grow: 0;
}

.navbar-mindbase .navbar-brand img {
  width: 17px;
}

.navbar-brand {
  display: flex;
  align-items: center;

  h4 {
    margin-bottom: -4px;
    margin-left: 10px;
    font-family: Inter, sans-serif;
    color: white;
    font-weight: bold;
  }
}


.upload {
  display: flex;
  align-items: center;
  color: #E1D8F9;
  font-family: Inter, sans-serif;
  opacity: 0.7;
  padding-left: 2rem;

  .nav-link {
    color: #E1D8F9;
  }

}

.upload:hover {
  color: #E1D8F9;
  opacity: 1;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

  #navbarDropdown {
    border-radius: 50%;

  }

  .searchbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 8px 12px 8px 8px;

  width: 311px;
  height: 32px;

  background: rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  color: #E1D8F9;
  opacity: 0.7;

  i {
    margin-right: 7px;
  }
}

.avatar {
  color: #E1D8F9;
}

.user_dropdown{
  display: flex;
  align-items: center;

  .dropdown {
    display: flex;
  }

  a {
    margin-top: 4px;
  }
}



#user_letter {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 1px solid #E1D8F9;
  color: #E1D8F9;
  text-align: center;
  font: 15px Arial, sans-serif;
  background: rgba(31, 117, 203, 0.25);
}
