// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";


body {
  height: 100vh;
}

#sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue_background {
  background: linear-gradient(249.92deg, #14143D 14.4%, #0E4D8D 86.94%);
}
