// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

body {
  height: 100vh;
}

.UI_Display_xl {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 52px;
/* Neutral/$gray-10 :: #F5F5F5 */
color: #F5F5F5;
}

.UI_Display_04_base {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 32px;
/* Neutral/$gray-200 :: #BFBFBF */
color: #BFBFBF;
}


.blue_background {
  background: linear-gradient(249.92deg, #14143D 14.4%, #0E4D8D 86.94%);
}

.UI_Label_Reg_underlined {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-decoration-line: underline;
  /* Neutral/$gray-100 :: #DBDBDB */
  color: #DBDBDB;
}

.UI_Label_Reg {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #DBDBDB;
}
